.box1{
    background-color: rgb(251,251, 251,1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
  }
  .box2{
    background-color: rgb(251,251, 251,1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .box3{
    background-color: rgb(251,251, 251,1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
  .box4{
    background-color: rgb(251,251, 251,1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }  
  
  .btn1{
    background-color: rgba(224, 50, 252, 1);
    color: rgb(245, 241, 244);
    padding: 10px 25px;
    border-radius: 8px;
    border-color: purple;
    text-align: center;
  
  }
  
  .btn2{
    background-color: white;
    color: purple;
    padding: 10px 25px;
    border-radius: 8px;
    text-align: center;
    border-color: rgb(88, 3, 100);
   
  }
  .btn1:hover{
    
    
    background-color: rgb(88, 3, 100);
  }
  
  .btn2:hover{
    
     background-color: pink;
  }

  body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
   /* background-color: pink;*/
  }

  .col {
   display: inline-block;
   width: 50%;
  }
  
  .Gpa{
    margin-left: 255px;
  }
  .Acc {
    margin-top: 50px;
    /* margin-right: 100px; */
  }