

.cpadding{
    padding-left: 72px;
    padding-right: 72px;
}
.btn-outline-primary{





    
    padding: 11px 22px !important;
    border-radius: 8px !important;
    border-width: 2px !important;
    color: var(--color-third) !important;
    background-color: var(--color-bg) !important;
    border-color: var(--color-third) !important;
}
.btn-outline-primary:hover{
    background-color: var(--color-third) !important;
    color: var(--color-bg) !important;
    border-color: var(--color-third) !important;
}