.paddingall {
    padding: 10px 10px 10px 10px;
}

.progressPercentage {
    font-weight: 600;
}

.progressName {
    font-size: 16px;
}
/*
.iconstyle {
    margin-top: 50px;
    margin-left: 50px;
}
*/
.iconstyle {
    margin-top: 0; /* Adjust as needed */
    margin-left: 0; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
.iconstyle svg {
    color: #13135f;
    width: 30px;  
    height: 30px;
}

.gradient {
    background: linear-gradient(158deg, #d9d9f3 0%, #2572c6 100%);
  }
*/

.bgcolor {
    min-height: 100vh;
    background: #ECEFF1;
    background: linear-gradient(158deg, #ECEFF1 0%, rrgb(233 ,237 ,254) 100%);
}

/* styles fro CVUploadList file*/

.status {
    padding: 5px;
    border-radius: 5px;

    &.Completed {
        color: green;
        background-color: rgba(0, 128, 0, 0.151);
    }

    &.Pending {
        color: orange;
        background-color: rgba(189, 165, 0, 0.151);
    }
}