body {
    
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Set the height to 100% of the viewport height */
    padding: 20px;
  }
  
  .Container1 {
    text-align: left;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #efefef;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width:1200px; /* Adjust this value to control the maximum width of the form container */
    width: 1000px; /* Ensure the container takes 100% width of its parent */
    margin: 0 auto; /* Center the container horizontally */
  }

  .buttonalign {
    display: flex;
    justify-content: flex-end;
  }
  
  .buttonalign Button {
    margin-left: 10px; /* Adjust the value as needed for spacing */
    
   
  }
  
  /* Optional: Add margin or padding if needed */
  .buttonalign {
    margin-top: 10px;
    margin-right: 10px;
  }